<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello i am writing html for the first time 🥂 </p>

    {% if user.is_authenticate %}
    <h3>Hello {{ fname }}</h3>
    <h4>you are succesfully logged in </h4>
    <button type="submit"> <a href="/signup">Sign-Up</a> </button>
    <br>
    <button type="submit"> <a href="/signin">Signin</a> </button>
    <br>
    <button type="submit"> <a href="/signout">Sign-Out</a> </button>


    <script src="" async defer></script>
</body>
</html>